

.soldier__info {
    display: flex;
    align-items: center;
}

.soldier__info span {
    margin: 0 5px;
}

.dead__checker {
    color: white;
}

.soldier__hidden_off {
    display: none;
    opacity: 0;
}

.soldier__hidden_on {
    width: 100%;
    display: block;
    opacity: 1;
    border-top: solid 1px black;
}

.soldier__hidden {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.arrow__reverse {
    transform: rotateX(180deg);
    transition: 0.3s;
}

.hidden__quadrant {
    min-width: 150px;
}

.hidden__quadrant p {
    padding-left: 5px;
}

.hidden__quadrant {
    display: flex;
}

.soldier__info div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soldier__wrapper_first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.soldier__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.accuracy__value {
    margin-left: 4px;
    font-weight: bold;
}

.arrow__toggler {
    cursor: pointer;
}

.bad {
    color: rgb(199, 3, 3);
}

.decent {
    color: #cca30d;
}

.good {
    color: rgb(0, 112, 0);
}

.excellent {
    color: #7446ff;
}