.accuracy__span {
    display: flex;
    align-items: center;
}

.soldier__info {
    display: flex;
    align-items: center;
}

.soldier__info span {
    margin: 0 5px;
}

.soldier__name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accuracy__value {
    margin-left: 4px;
    font-weight: bold;
}

.bad {
    color: rgb(199, 3, 3);
}

.decent {
    color: #cca30d;
}

.good {
    color: rgb(0, 112, 0);
}

.excellent {
    color: #7446ff;
}