body {
  /* background: #0f2027; 
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); 
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
}

h2, h1, h3 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}
